:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* 全局滾動條樣式 */
::-webkit-scrollbar {
  width: 8px; /* 滾動條寬度 */
  height: 8px; /* 滾動條高度（水平滾動條） */
}

::-webkit-scrollbar-thumb {
  background: #283140; /* 滾動條顏色 */
  border-radius: 4px; /* 滾動條圓角 */
}

::-webkit-scrollbar-thumb:hover {
  background: #909090; /* 滑鼠懸停時的滾動條顏色 */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* 滾動條軌道背景色 */
  border-radius: 4px;
}

::-webkit-scrollbar-corner {
  background: transparent; /* 右下角空白 */
}


nextjs-portal {
  display: none;
}